body {
	margin: 0;
	padding: 0;
	border: #D32A2D solid 1px;
}

nav {
	margin: auto;
	background-color:#000;
	text-align:center;
	width: 100%;
	top: 0;
	font-family: 'Lobster', cursive;
	position: fixed
}

.tombolhome {
	padding: 10px 0;
	width: 100px;
	margin:auto;
	transition-timing-function: ease-out;
	transition-duration: 0.5s;
}

a .tombolhome:hover {
	background-color: #FFF;
	color: #333;
}

a .tombolhome {
	color: #FFF;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: auto;
	color: #D71013;
}
